# ----------------------------------------
# Application dependencies
# ----------------------------------------

/node_modules
/vendor
/composer.lock

# ----------------------------------------
# Development files
# ----------------------------------------

.php-cs-fixer.cache
.phpunit.result.cache

# ----------------------------------------
# Documentation files
# ----------------------------------------

/docs/.vitepress/cache
/docs/.vitepress/dist
