sudo: false

language: php
php:
    - 5.6
    - 7.0
    - 7.1

services:
  - memcached

cache:
    directories:
        - $HOME/.composer/cache
        - vendor

before_install:
    - phpenv config-rm xdebug.ini

install: composer install
